#options {
    width: 20vw;
    height: 5vh;
    font-size: 100%;
    background-color: #53774c;
    text-align: center;
    border: 3px outset #82653E;
}
img {
    border: 3px outset #82653E; 
}
tr {
    text-align: center;
}
table {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}